Django==5.1.6
gunicorn==23.0.0
whitenoise==6.9.0
psutil==7.0.0
requests==2.31.0
urllib3==2.0.7
certifi==2023.11.17
idna==3.6
chardet==5.2.0
sqlparse==0.5.3
bcrypt==3.2.2
cffi==1.17.1
cryptography==41.0.7
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
MarkupSafe==2.1.5
Jinja2==3.1.2
pytz==2024.1
tzdata==2025.1
numpy==2.2.3
pandas==2.2.3
Pygments==2.17.2
python-dateutil==2.8.2
six==1.16.0
typing_extensions==4.10.0
